---
layout: base.njk
title: Blog - Sofia Penabaz-Wiley, Ph.D.
updated: December 2024
permalink: /blog/
---

<header>
  <h1>Sofia Penabaz-Wiley, Ph.D.</h1>
  <p>Blog</p>
</header>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/cv/">CV</a></li>
    <li><a href="/blog/">Blog</a></li>
  </ul>
</nav>

<div class="container">
  <main>
    {%- for post in collections.posts | reverse -%}
    <article class="post">
      <header>
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <time datetime="{{ post.date.toISOString() }}">{{ post.date.toISOString().slice(0,10) }}</time>
      </header>
      <div class="post-content">
        {{ post.content | safe }}
      </div>
    </article>
    <hr>
    {%- endfor -%}
  </main>
</div>
